<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.test">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TaskResultActivity"></activity>
        <activity android:name=".SignInTypeActivity" />
        <activity android:name=".PrivacyPolicyActivity" />
        <activity android:name=".SelectFileActivity" />
        <activity android:name=".OneBtnSignInSettingActivity" />
        <activity android:name=".FinishSignInActivity" />
        <activity android:name=".GestureSettingActivity" />
        <activity android:name=".GestureUnlockActivity" />
        <activity android:name=".OneBtnSignInActivity" />
        <activity
            android:name=".SubmitActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".fragment.FinishActivityFragment" />
        <activity android:name=".fragment.DoingActivityFragment" />
        <activity android:name=".fragment.AllActivityFragment" />
        <activity android:name=".UserProtocolActivity" />
        <activity
            android:name=".UserInfoActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".fragment.MoreFragment" />
        <activity android:name=".fragment.MessageFragment" />
        <activity android:name=".fragment.ActivityFragment" />
        <activity android:name=".fragment.MemberFragment" />
        <activity android:name=".ClassTabActivity" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
    </application>

</manifest>